body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {

    background:linear-gradient(rgba(0,0,0,0.7),rgba(112, 90, 90, 0.7)),url("../img/backgroundphoto1.jpg");
    background-position: center;
    background-size: cover;


    

    background-color: #f6f6f6;
    color: rgb(128, 10, 10);
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color:  #f6f6f6;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
#logo-img{
  width: 15%;
  height: auto;
}
  .navbar li a, .navbar .navbar-brand {
    color: rgb(128, 10, 10) !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  .about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .about-mf .about-img {
    margin-bottom: 2rem;
  }
  
  .about-mf .about-img img {
    margin-left: 10px;
  }
  
  .skill-mf span {
    color: #4e4e4e;
  }
  
  .skill-mf .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
  }
  
  .skill-mf .progress .progress-bar {
    height: .7rem;
    background-color: #0078ff;
  }
  /*--------------------------------------------------*/
.what_we_area {
  background:rgb(128, 10, 10) !important;
}
.what_we_area .tittle h2:after {
  background: #fff;
}
.what_we_area .tittle h4 {
  color: #333;
}
.what_we_area .construction_iner {
  padding-top: 60px;
  padding-bottom: 70px;
}
.what_we_area .construction_iner .construction {
  text-align: center;
  padding-bottom: 30px;
  cursor: move;
}
.what_we_area .construction_iner .construction .cns-img {
  z-index: 2;
}
.what_we_area .construction_iner .construction .cns-img img {
  max-width: 100%;
}
.what_we_area .construction_iner .construction .cns-content {
  background: #fff;
  padding: 0 30px;
  padding-bottom: 20px;
  margin-top: -30px;
}
.what_we_area .construction_iner .construction .cns-content i {
  color: #fff;
  font-size: 24px;
  background: #333333;
  line-height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto;
  z-index: 1;
  transition: all 300ms linear 0s;
  position: relative;
}
.what_we_area .construction_iner .construction .cns-content a {
  font: 700 18px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #222222;
  padding-top: 17px;
  display: block;
}
.what_we_area .construction_iner .construction .cns-content p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
  padding-top: 20px;
}
.what_we_area .construction_iner .construction:hover a, .what_we_area .construction_iner .construction:focus a {
  color:rgb(128, 10, 10) !important;
}
.what_we_area .construction_iner .construction:hover i, .what_we_area .construction_iner .construction:focus i {
  font-size: 35px;
}
/**Work start**/
.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #4e4e4e;
  font-size: .8rem;
}

.work-content .w-more .w-ctegory {
  color:rgb(128, 10, 10) !important;
}

.work-content .w-like {
  font-size: 2.5rem;
  color:rgb(128, 10, 10) !important;
  float: right;
}

.work-content .w-like a {
  color: rgb(128, 10, 10) !important;
}

.work-content .w-like .num-like {
  font-size: .7rem;
}

.w-title {
  font-size: 1.2rem;
}
.thumbnail img
{
  width: 100% !important;
  margin:3% !important;
  padding:3% !important;
}

/**Work ends***/

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  @media screen and (max-width: 480px) {
   #logo-img{
     margin-top: -40%;
   }
  }
   @media screen and (max-width: 768px) {
    #logo-img{
      margin-top: -12%;
    }
    
  }